{% extends 'base.html' %}

{% load static %}

{% block title %}Add Customer{% endblock %}


{% block content %}

<div class="container mt-4">

<div class="card">
    <div class="card-body">

        <form action="{% url 'add_customer' %}" method="post"> 
            {% include 'partials/_messages.html' %}
            {% csrf_token %}


       <div class="form-group">
        <label for="">Date of creation</label>
        <input type="date" class="form-control form-control-sm" name="date" value="{{values.date}}">
       </div>

       <div class="form-group">
        <label for="">Company Name</label>
        <input type="text" class="form-control form-control-sm" name="companyname" value="{{values.companyname}}">
       </div> 

       <div class="form-group">
        <label for="">Customer Title</label>
        <input type="text" class="form-control form-control-sm" name="customertitle" value="{{values.customertitle}}">
       </div> 

       <div class="form-group">
        <label for="">Full Name</label>
        <input type="text" class="form-control form-control-sm" name="customername" value="{{values.customername}}">
       </div> 

       <div class="form-group">
        <label for="">Address</label>
        <input type="text" class="form-control form-control-sm" name="address" value="{{values.address}}">
       </div> 

       <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control form-control-sm" name="city" value="{{values.city}}">
       </div> 

       <div class="form-group">
        <label for="">Postal Code</label>
        <input type="text" class="form-control form-control-sm" name="postalcode" value="{{values.postalcode}}">
       </div> 

       <div class="form-group">
        <label for="">Country</label>
        <input type="text" class="form-control form-control-sm" name="country" value="{{values.country}}">
       </div> 

       <div class="form-group">
        <label for="">Phone</label>
        <input type="tel" class="form-control form-control-sm" name="phone" value="{{values.phone}}">
       </div> 

       <div class="form-group">
        <label for="">Email address</label>
        <input type="email" class="form-control form-control-sm" name="email" value="{{values.email}}">
       </div>

       <input type="submit" value="Add customer" class="btn btn-primary btn-primary-sm">
    </form>
    </div>

</div>


</div>

{% endblock %}