{% extends 'base.html' %}

{% load static %}

{% block title %}Update Delivery Status{% endblock %}

<!-- Custom fonts for this template-->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

{% block content %}
<body class="bg-gradient-primary">

    <div class="container" style="transform: translateY(-65px);">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Update Delivery Status</h1>
                                    </div>

                                    
                                    
                                    <form class="user" method="post">
                                        {% include 'partials/_messages.html' %}
                                        {% csrf_token %}
                                        
                                        <div class="form-group">
                                            <label for="order_id">Order ID:</label>
                                            <!-- Reintroduce Bootstrap class form-control for styling -->
                                            <input type="text" id="order_id" name="order_id" class="form-control form-control-user" placeholder="Enter Order ID">
                                        </div>

                                        <div class="form-group">
                                            <!-- Label moved above the select -->
                                            <label for="new_status">New Status:</label>
                                            
                                            <!-- Flexbox is applied only to the select element -->
                                            <select id="new_status" name="new_status" class="form-control" style="width: 100%; padding: 0 1rem; height: 3.5rem; border-radius: 10rem;">
                                                <option value="" disabled selected>Select a status</option>
                                                <option value="0">In Transit</option>
                                                <option value="1">Delivered</option>
                                                <option value="2">Cancelled</option>
                                            </select>
                                        </div>
                                        

                                        <button type="submit" class="btn btn-primary btn-block">Update Status</button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</body>
{% endblock %}
